<footer class="footer">
      <div class="container1">
        <div class="row1">
          <div class="footer-col">
            <h4>Browse</h4>
            <ul>
               <li><a href="/web/home">New & Featured</a></li>
              <li><a href="/web/men">Men</a></li>
              <li><a href="/web/women">Women</a></li>
              <li><a href="/web/kids">Kids</a></li>
              <li><a href="/web/accessories">Accessories</a></li>
              <li><a href="/web/sale">Sale</a></li>
              <li><a href="/web/faqs">FAQs</a></li>
              <li><a href="/web/signin">Sign-In</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Help</h4>
            <ul>
              <li><a href="#">Get Help</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Shipping and Delivery</a></li>
              <li><a href="#">Return</a></li>
              <li><a href="#">Order Cancellation</a></li>
              <li><a href="#">Payment Options</a></li>
              <li><a href="#">Gift Card Balance</a></li>
              <li><a href="#">Discounts</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <div class="social-links">
             <h4>Follow Us</h4>
              <a href="https://www.facebook.com/priya.bhusal.982?mibextid=LQQJ4d"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
              <a href="https://www.instagram.com/priyabhusal13/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="logo">
      <img src="/assets/p3r2.png" width="100px">
      </div>
    </footer>
