
{{>header}}
{{>navbar}}
<div class="cart-container">
    <h2 class="ur-cart">Your Cart</h2>
    <div id="cart-items"></div>
    <div class="cart-summary">
        <h3 class="heading">Summary</h3>
        <p><b>Total Items:</b><span id="total-items">0</span></p>
        <p><b>Total Price:</b>$<span id="total">0.00</span></p>
        <button id="checkout-button">Proceed to Checkout</button>
    </div>
</div>
{{>footer}}
