{{>header}}
{{>navbar}}

{{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Is cash on delivery available?
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Yes, we provide cash on delivery all over Nepal.</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Is there delivery services all over Nepal?
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Yes,we supply our product all over Nepal.</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Do you offer plus size ?
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Yes,we supply plus sizes.</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My package is missing,can you help?
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">You can contact to us through our email,DMs or phoneNumber</a></li>
          </ul>
        </li>

<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Where are you originated?
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">We are originally originated in Butwal</a></li>
          </ul>
        </li> --}}
        
<h1 class="heading">{{title}}</h1>

<div class="button">
<button type="button" class="btn btn-secondary" onclick=showMessage("message1") >Is cash on delivery available?</button>
<div id="message1" class="message">Yes, we provide cash on delivery all over Nepal</div>
</div>

<div class="button">
<button type="button" class="btn btn-secondary" onclick=showMessage("message2") >Is there delivery services all over Nepal?</button>
<div id="message2" class="message">Yes,we supply our product all over Nepal.</div>
</div>

<div class="button">
<button type="button" class="btn btn-secondary" onclick=showMessage("message3") > Do you offer plus size ?</button>
<div id="message3" class="message">Yes,we supply plus sizes.</div>
</div>

<div class="button">
<button type="button" class="btn btn-secondary" onclick=showMessage("message4") >My package is missing,can you help?</button>
<div id="message4" class="message">You can contact to us through our email,DMs or phoneNumber</div>
</div>

<div class="button">
<button type="button" class="btn btn-secondary" onclick=showMessage("message5") >Where are you originated originally?</button>
<div id="message5" class="message">We are originally originated in Butwal</div>
</div>



