
{{>header}}
{{>navbar}}
<div class="favorites-container">
    <h2 class="ur-favorites">Your Favorites</h2>
    <div id="favorites-items"></div>
    <div class="favorites-summary">
        <h3 class="heading">Summary</h3>
        <p><b>Total Items:</b><span id="total-items">0</span></p>
    </div>
</div>
{{>footer}}
