
{{>header}}
{{>navbar}}
<div class="carousel slide" 
id="carouselDemo"
data-bs-wrap="true"
data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active" data-bs-interval="2000">
      <img src="/assets/first1.jpg" class="w-100">
      <div class="carousel-caption">
        <h5>Title Slide 0</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        </p>
      </div>
    </div>

    <div class="carousel-item " data-bs-interval="2000">
      <img src="/assets/first2.jpg" class="w-100">
      <div class="carousel-caption">
        <h5>Title Slide 1</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        </p>
      </div>
    </div>

    <div class="carousel-item " data-bs-interval="2000">
      <img src="/assets/bags.jpg" class="w-100">
      <div class="carousel-caption">
        <h5>Title Slide 2</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

  </div>
<button class="carousel-control-prev" 
type="button"
data-bs-target="#carouselDemo"
data-bs-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</button>

<button class="carousel-control-next"
type="button"
data-bs-target="#carouselDemo"
data-bs-slide="next">
<span class="carousel-control-next-icon"></span>
</button>

<div class="carousel-indicators">
  <button type="button" class="active" data-bs-target="#carouselDemo" data-bs-slide-to="0"></button>
  <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="1"></button>
  <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="2"></button>
</div>
</div>


<div class="shoparea">
    <strong><h5>Find your best !!!</h5></strong>
    <p><h1>Your satisfaction,our priority.</h1></p>
    <button class="button1" type="button">Shop now</button>
</div>

<section>
  <div class="blog-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
          <img src="/assets/cr1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
      </div>
       <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
          <img src="/assets/cr2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
      </div>
       <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
          <img src="/assets/d4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
      </div>
       <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
          <img src="/assets/cr3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
      </div>
       <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
          <img src="/assets/cr4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
      </div>
       <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
          <img src="/assets/cr6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-dark">Go somewhere</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

  {{>footer}}

    