{{>header}}
{{>navbar}}

<form action="/login" method="post">
<div class="form">
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label"> Phone</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your phone number" name="phone">
</div>
</div>

<div class="form">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label"> Password</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your password" name="password">
</div>
</div>

<div class="form">
<div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>