{{>header}}
{{>navbar}}
<div class="men">
<p class="men1"><u>BIGGEST SALE</u> </p>
</div>

<div class="sale">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save ur money on the sales</p>
    <button>Shop Now</button>
</div>

   <section class="product">
      <h2 class="product-category">Shirt <span>Collection</span></h2>
      {{!-- <button class="nxt-btn"><i class="fa-solid fa-arrow-left"></i></button> --}}
      <button class="pre-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <div class="product-container">
         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms1.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/ms1.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <div class="icon1">
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/ms2.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
               </div>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms3.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/ms3.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/ms4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms5.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/ms5.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms6.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/ms6.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms7.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms9.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/ms10.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>
      </div>
   </section>



   {{!-- glass section --}}
     <section class="product">
      <h2 class="product-category">Glass <span>Collection</span></h2>
      {{!-- <button class="nxt-btn"><i class="fa-solid fa-arrow-left"></i></button> --}}
      <button class="pre-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <div class="product-container">
         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg1.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg3.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg5.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg6.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg7.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg9.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mg10.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>
      </div>
   </section>

   {{!-- watch section  --}}
    <section class="product">
      <h2 class="product-category">Watch <span>Collection</span></h2>
      {{!-- <button class="nxt-btn"><i class="fa-solid fa-arrow-left"></i></button> --}}
      <button class="pre-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <button class="nxt-btn"><i class="fa-solid fa-arrow-right"></i></button>
      <div class="product-container">
         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw1.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
                <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw2.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
              <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw6.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw7.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw8.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>

         <div class="product-card">
            <div class="product-image">
               <span class="discount-tag">sale</span>
               <img src="/assets/mw4.jpg" class="product-thumb" alt="">
            </div>
            <div class="product-info">
               <h2 class="product-brand">brand</h2>
               <p class="product-short-description">a short line about the product</p>
               <span class="price">$20</span>
               <span class="actual-price">$40</span>
               <button><a href="#"><i class="fa-regular fa-heart" style="color: black;"></i></a></button>
               <button onclick="addToCart('/assets/mw4.jpg','Brand','this is the description','20')"><a href="#"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a></button>
            </div>
         </div>
      </div>
   </section>


   {{>footer}}